#verticalScroll {
  overflow: hidden;
  display: block;
  white-space: nowrap;
  height: 500px;
}

.work {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 400px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,.15);
  box-sizing: border-box;
  margin: 20px;
  transition: 0.2s all ease-in-out;

  & > img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(5px);
  }

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 12px rgba(0,0,0,.15);
    cursor: pointer;
  }
}